In [1]:
#Importing data from wikipedia
import pandas as pd
d = pd.read_html("https://en.m.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [11]:
type(d)

list

In [16]:
# Data frame created
df = d[0]

# Dataframe assigned to df_data
df_data = df

In [17]:
# Assigning first row as Column header 
new_header = df_data.iloc[0]
df_data = df_data[1:]
df_data.columns = new_header
df_data.head()

0 Postal Code           Borough               Neighborhood
1         M1A      Not assigned                        NaN
2         M2A      Not assigned                        NaN
3         M3A        North York                  Parkwoods
4         M4A        North York           Victoria Village
5         M5A  Downtown Toronto  Regent Park, Harbourfront

In [21]:
# Removing all the NaN values to remove 'not assigned' values from column Bourugh
new_df = df_data.dropna()
new_df.head()

In [46]:
# Combining multiple rows and combined into one row with the neighborhoods separated with a comma
cleaned_df = new_df.groupby(['Postal Code','Borough'])['Neighborhood'].apply(','.join).reset_index()

In [47]:
cleaned_df.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [43]:
#check whether Neigbhorhood column as any Not assigned values
df2 = cleaned_df.Neighborhood.str.contains('Not assigned')
cleaned_df[df2]
# We can see that there is no 'Not assigned' values in column Neigbhorhood

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [48]:
cleaned_df.shape

(103, 3)