# Segmenting and Clustering Neighborhoods in Toronto

In [2]:
#Importing data from wikipedia
import pandas as pd
d = pd.read_html("https://en.m.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [3]:
type(d)

list

In [9]:
# Data frame created
df = d[0]

# Dataframe assigned to df_data
df_data = df

# Removing all the NaN values to remove 'not assigned' values from column Bourugh
df_data = df_data.dropna()
df_data.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [10]:
# Combining multiple rows and combined into one row with the neighborhoods separated with a comma
cleaned_df = df_data.groupby(['Postal Code','Borough'])['Neighborhood'].apply(','.join).reset_index()

In [11]:
cleaned_df.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [12]:
#check whether Neigbhorhood column as any Not assigned values
df2 = cleaned_df.Neighborhood.str.contains('Not assigned')
cleaned_df[df2]
# We can see that there is no 'Not assigned' values in column Neigbhorhood

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [13]:
cleaned_df.shape

(103, 3)

In [16]:
#We are reading the data from the link
po_code_df = pd.read_csv("http://cocl.us/Geospatial_data")

In [28]:
po_code_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [31]:
frames = [cleaned_df, po_code_df]
# Now merging the two datafram using the postal code
result = pd.concat(frames, axis=1, join='inner')

In [52]:
result.head(10)

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.727929,-79.262029
7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848

Test code 
<!-- def df_column_uniquify(df):
    df_columns = df.columns
    new_columns = []
    for item in df_columns:
        counter = 0
        newitem = item
        while newitem in new_columns:
            counter += 1
            newitem = "{}_{}".format(item, counter)
        new_columns.append(newitem)
    df.columns = new_columns
    return df
muru = df_column_uniquify(result)
muru
result = result.drop(['Postal Code_1'], axis=1)
-->